.content__top_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .top_panel__left {
        display: flex;
        flex-direction: column;

        .task_list__title > span {
            font-size: 2rem;
        }
    }

    .day_of_week__title {
        font-weight: 200;
        font-size: 2rem;
    }

    .date__title {
        margin-left: 0.5rem;
        font-weight: 200;
        font-size: 1.5rem;
    }


}

.context__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;

        position: relative;

        .task_list__settings {
            color: var(--fontColor);
            background-color: transparent;

            height: 2rem;
            width: 2rem;

            border: none;
            font-size: 1.5rem;

            padding: 1.25rem;
            border-radius: 0.25rem;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: rgba(197, 197, 197, 0.3);
            }
        }

        .menu__item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            justify-content: space-between;

            cursor: pointer;

            padding: 0.5rem;
            border-radius: 0.25rem;

            &:hover {
                background-color: var(--bgButtonColorHover);
            }

            span {
                display: flex;
                justify-content: flex-end;
                //flex: 2;
            }

            img {
                width: 1.3rem;
                height: 1.3rem;
            }
            .select__container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;
                gap: 0.25rem;
            }
        }
    }




