.container {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;

    overflow: hidden;
    background-color: #ededed;
}
.container h1 {
    font-size: 1.5rem;
}
.login__form {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.login__form form {
    width: 50%;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 30px;

}
.introduce__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-image:  linear-gradient(180deg, rgba(228, 165, 3, 0.6) 0%, rgba(235, 113, 88, 0.6) 100%),
    url("../../../assets/img/background/login_page_stock_img.jpg");
    background-size: cover;
    border-radius: 30px 0 0 30px;
    height: 100%;
}
.introduce__slogan {
    color: white;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;

    padding: 0 2rem;
    box-sizing: border-box;
}
.introduce__slogan p {
    font-size: 2rem;
}
.introduce__slogan p {
    margin-top: 1rem;
    margin-bottom: 0;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 70%;
}

.google_auth__button {
    padding: 10px;
    border-radius: 100%;
    background-color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google_auth__button img {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}
.google_auth__button .google_auth__text {
    color: white;
    font-weight: bold;
    margin-left: 1rem;
    display: none;
}

@media screen and (max-width: 1000px) {
    .introduce__slogan {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 900px) {
    .container {
        height: 100vh;
        grid-template-columns: none;
        grid-template-rows: 1fr 5fr;
        background-image: linear-gradient(180deg, rgba(228, 165, 3, 0.6) 0%, rgba(235, 113, 88, 0.6) 100%),
                url("../../../assets/img/background/login_page_stock_mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .login__form {
        grid-row: 2;
        height: 100%;
    }

    .login__form form {
        background-color: transparent;
        width: 80%;
        padding: 1rem 1rem;
        backdrop-filter: blur(2rem);
    }

    .auth__header {
        text-decoration: underline;
    }

    .introduce__block {
        grid-row: 1;
        border-radius: 0 0 0 0;
        background-image: none;
    }

    .introduce__block .introduce__slogan {
        display: none;
    }

    .logo img {
        width: 90%;
    }
    .google_auth__button img {
        width: 2rem;
        height: 2rem;
    }
    .google_auth__button {
        border-radius: 10px;
        padding: 10px 20px;
        backdrop-filter: blur(1rem);
        border: 1px solid rgba(0, 0, 0, 0.3);
        background-color: transparent;
        width: 50%;
    }
    .google_auth__text {
        display: inline-block !important;
    }

    .auth__header {
        color: white;
    }
    label {
        display: none !important;
    }
    form span:not(a) {
        color: white;
    }
}