.base_group__container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: flex-start;
    
    border-bottom: var(--borderBottomSidebar);
    padding-bottom: 8px;
}