.tasks__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem !important;
    width: 100%;

    padding: 2rem 0 0 0;
}

.no_tasks__message {
    font-size: 2rem;
    opacity: 0.6;
    align-self: center;
}