.checkbox_input__container {
    display: flex;
    background-color: var(--bgColorContent);
    border-radius: 0.3125rem;

    .checkbox__input {
        background-color: var(--bgColorContent);
        color: var(--fontColor);
    
        border: none;
        border-radius: 0.25rem;
        padding: 0.6rem;

        &:focus, &:hover {
            border: none;
        }
    }
}