.search {
    width: 100%;
    border-radius: 8px;
    border: none;
    background: var(--searchProps) no-repeat 2% 50%;
    background-size: 1rem 1rem;
    padding: 5px 10%;
    
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.search:focus {
    border: 1px solid #c0c0c0;
    outline: none;
}

.search::placeholder {
    padding: 0;
    letter-spacing: 0.2em;
    font-size: 0.8rem;
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 0;
    width: 0;
  }