.input__field {
    padding: 0.75rem 1.5rem;
    outline: none;

    border-radius: 10px;
    border: 1px solid #999;

    box-sizing: border-box;

    width: 100%;
    transition: .5s;
}
.input__field:hover {
    border: 1px solid #2a2a2a;
}
.input__field:focus {
    border: 1px solid #000;
}