:root {
  --notificationBgColor: rgb(226, 64, 64);
}

[data-theme="light"] {
  --bgColorHeader: #dfdfdf;
  --bgColorContent: #fff;
  --bgColorSidebar: #f2f2f2;
  --bgColorInput: #e5e5e5;

  --borderColor: #868686;
  --fontColor: #000;

  --searchProps: #ebebeb url("./assets/img/icons/search_dark.svg");

  --borderBottomSidebar: 1px solid #868686;
}

[data-theme="dark"] {
  --bgColorHeader: #232323;
  --bgColorContent: #2a2a2a;
  --bgColorSidebar: #333333;
  --bgColorInput: #444;

  --borderColor: #5f5f5f;
  --fontColor: #fff;

  --searchProps: #444 url("./assets/img/icons/search_light.svg");

  --borderBottomSidebar: 1px solid #444;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

  overflow: hidden;
  transition: background-color .5s;

}

main {
  color: var(--fontColor);
  background-color: var(--bgColorContent);
}

a {
  color: #6977f3;
}

input::placeholder {
  color: var(--fontColor);
}